

.botonlink_detalles {
    width: 100%;
    padding: 10px 0;
    font-size: 60%;
    font-weight: 600;
    background-color: #325598;
    border: 0;
    border-radius: 8px;
    color: #FFFFFF;
    text-decoration: none;
}

.botonlink_detalles:hover, .botonlink_detalles:active {
    background-color: #4776ce;
}

.caja_boton_detalles {
    width: 100%;
    padding: 12px;
    text-align: center;
    display: flex;
    font-size: 140%;
    font-weight: 600;
}

.caja_cards {
    justify-content: center;
    flex-direction: row;
    display: flex;
    gap: 18px;
}

.caja_img {
    position: relative;
    width: 100%;
    height: fit-content;
    border-radius: 8px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.caja_oferta {
    font-size: 16px;
}

.card {
    position: relative;
    display: inline-block;
    flex-direction: column;
    word-wrap: break-word;
}

.card:hover, .card:active {
    box-shadow: 0 0 18px #4e4e4e;
}

.card_body {
    /*flex: 1 1 auto;*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.card_producto {
    position: relative;
    width: 20%;
    min-width: 230px;
    background-color: #FFFFFF;
    align-items: stretch;
    border-radius: 8px;
    user-select: none;
}

.cargando {
    display: flex;
    justify-content: center;
    color: #325598;
    font-size: 18px;
    font-weight: 600;
}

.icono_favoritos {
    text-shadow: 0 0 8px #000000;
    position: absolute;
    top: 6px;
    right: 9px;
    font-size: 160%;
    color: #FFFFFF;
    z-index: 10;
}

.icono_favoritos:hover, .icono_favoritos:active {
    color: #f12222;
}

.icono_favoritos_on {
    color: #f12222;
}

.image {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.p-t-90 {
    padding-top: 90px;    
}

.sin_interes {
    font-size: 12px;
}

.titulo_card {
    padding: 6px;
    padding-top: 3px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 92%;
    font-weight: 450;
}

.titulo_seccion {
    font-family: "Saira", sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 34px;
}

@media screen and (max-width: 1199px) {
    .card_producto {
        width: 30%;
    }
}

@media screen and (max-width: 767px) {
    .card_producto {
        width: 45%;
    }
    .titulo_seccion {
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 575px) {
    .card_producto {
        width: 96%;
    }
    .titulo_card {
        font-size: 105%;
    }
    .titulo_seccion {
        margin-bottom: 15px;
        font-size: 24px;
    }
}

@media (min-width: 335px) and (max-width: 575px) {
    .caja_boton_detalles {
        padding: 12px;
        padding-bottom: 0;
        padding-top: 5%;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    .caja_img {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        width: 40%;
    }
    .card {
        position: relative;
        display: flex;
        flex-direction: row;
        word-wrap: break-word;
    }
    .card_body {
        align-self: center;
        width: 60%;
    }
    
    .image {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    .precio {
        font-size: smaller;
    }

    .titulo_card {
        padding: 3px;
        padding-top: 0;
    }

    .sin_interes {
        font-size: 11px;
        position: absolute;
        bottom: 14px;
        right: 0;
        left: 0;
    }
}

@media (min-width: 335px) and (max-width: 429px) {
    .card_body {
        width: 55%;
    }
    .caja_boton_detalles {
        width: 75%;
        font-size: 18px;
        padding: 4px;
        padding-top: 10%;
    }
    .caja_img {
        width: 45%;
    }

    .titulo_card {
        font-size: 88%;
    }
}










.container {
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.width {
    flex: 0 0 auto;
    width: 100%; 
}